.center {
    text-align: center;
    color: black;
}

.toppad {
  padding-top: 50px;
  text-align: center;
  color: black;
}
.button-fix {
    color: white;
    background-color: #326ecf;
}

.right {
    text-align: right;
}

body, html {
  height: 100%;
  background-color: #dad3d380;
  
}

.fa {
  padding: 20px;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.formbg {
  background: #0941b9d9;
  text-align: center;
}

