{% extends "layout.html" %}

{% block body %}
        </div>
            <div class="page-header pt-5">
            <h1 class="center">This is a page all about me!</h1>
            <div class="center">
                <img src="/static/jpegs/me.jpg" alt="pic" width="280" height="250">
                <img src="/static/jpegs/img6.jpg" alt="pic" width="280" height="250">
                <img src="/static/jpegs/img1.jpg" alt="pic" width="280" height="250">
            </div>
        </div>
{% endblock %}