{% extends "layout.html" %}

{% block body %}
<div class="page-header pt-5">
<h1 class="center">Technical Recruiter. Coder. Dog Lover.</h1>
<i>
    <p class="toppad">I'm the Founder of Sage Recruiting Inc., a technical recruitment company serving North America focused on sourcing software engineers and other high-tech positions for startups and fast-growth software companies. I'm also a dog lover, scuba diver and nature enthusiast. Thank you for coming to my page, I hope you have a great experience! </p>
</i>
{% endblock %}