{% extends "layout.html" %}

{% block body %}
<div class="page-header pt-5">
<h1 class="center">Technical Recruiter. Coder. Dog Lover.</h1>
<h5><i><b><p class="padd">Welcome to my page! I’m the Founder of Sage Recruiting, a technical recruitment company focused on sourcing software engineers for startups across North America. I’m also a novice coder (if you can’t tell from the website &#128540) and the owner of two beautiful cockapoo dogs. I love to dive, travel (though not much lately!), binge netflix (more of this lately) and cook. Thanks for stopping by, I hope you enjoy! </p></b></i></h5>
    <div class="center">
        <img src="/static/jpegs/house.jpg" alt="house" width="200" height="175">
        <img src="/static/jpegs/me.jpg" alt="me" width="200" height="175">
        <img src="/static/jpegs/lake.jpg" alt="lake" width="200" height="175">
    </div>
</div>
{% endblock %}

