{% extends "layout.html" %}

{% block body %}
    <div class="page-header pt-5">
    <h1 class="center">Enter your Name: </h1>

    <form onsubmit="myform(); return false;" class="center">
        <input type="text" id="name">
        <input type="submit">
    </form>
    <!-- Add in bootstrap JS library -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="static/form.js"></script>
    <!--<div class="bg"></div>-->
    <p class="py-5 text-center">
{% endblock %}

