{% extends "layout.html" %}

{% block body %}
        <div class="page-header pt-5">
            <h1 class="center">Ashley Alfred's Homepage</h1>
            <p class="center">Technical Recruiter. Coder. Dog Lover. </p>
        </div>
            <div class="center">
                <p>
                <a href="https://sagerecruiting.me" class="btn btn-lg button-fix" role="button">Recruiting</a>
                <a href="https://github.com/ashleyalfred" class="btn btn-lg button-fix" role="button">Github</a>
                </p>
            </div>
        </div>
{% endblock %}
