<!DOCTYPE html>

<html lang="en">
    <head>
        <!--ensuring compatability with multi-languages -->
        <meta charset="utf-8">
        <!--making website browser compatible for IE -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!--making website responsive -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <!-- adding bootstrap & CSS code -->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <!-- font -->
        <link a href="https://fonts.googleapis.com/css?family=Tangerine" rel="stylesheet" type="html/css">
        <!-- adding social media icons -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- link my stylesheet -->
        <link href="static/styles.css" rel="stylesheet">
        <title>My Webpage</title>
    </head>
    <body class="bg">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-dark bg-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto nav-pills">
                        <li class="nav-item"><a class="nav-link active" href="/">home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/about">about</a></li>
                        <li class="nav-item"><a class="nav-link" href="/photos">photos</a></li>
                        <li class="nav-item"><a class="nav-link" href="/hello">hello</a></li>
                        <li class="nav-item"><a class="nav-link" href="/register">register</a></li>
                    </ul>
                    <div class="right">
                    <!-- Add font awesome icons -->
                        <a href="https://twitter.com/sagerecruiting?lang=en" class="fa fa-twitter"></a>
                        <a href="https://www.linkedin.com/in/ashleyalfred/" class="fa fa-linkedin"></a>
                    </div>
            </nav>

            {% block body %}
            {% endblock %}

        <!-- Add in bootstrap JS library -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <!--<div class="bg"></div>-->
        <p class="py-5 text-center">

    </body>
</html>


