<!DOCTYPE html>

<html lang="en">
    <head>
        <!--ensuring compatability with multi-languages -->
        <meta charset="utf-8">
        <!--making website browser compatible for IE -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!--making website responsive -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

        <!--meta tags for preview-->
        <!-- Primary Meta Tags -->
        <title>Ashley's Website</title>
        <meta name="title" content="Ashley's Website">
        <meta name="description" content="Ashley Alfred's personal website!">

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://ashleyalfred.herokuapp.com/">
        <meta property="og:title" content="Ashley's Website">
        <meta property="og:description" content="Ashley Alfred's personal website! ">
        <meta property="og:image" content="https://ashleyalfred.herokuapp.com/static/images/full/websitescreenshot.png">

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="https://ashleyalfred.herokuapp.com/">
        <meta property="twitter:title" content="Ashley's Website">
        <meta property="twitter:description" content="Ashley Alfred's personal website! ">
        <meta property="twitter:image" content="https://ashleyalfred.herokuapp.com/static/images/full/websitescreenshot.png">
                        
        <!-- Bootstrap core CSS -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
        <!-- font -->
        <link a href="https://fonts.googleapis.com/css?family=Tangerine" rel="stylesheet" type="html/css">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
        <!-- Google Fonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
        
        <!-- link my stylesheet -->
        <link href="static/styles.css" rel="stylesheet">
        
        {% block customcss %}
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-dark bg-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto nav-pills">
                        <li class="nav-item"><a class="nav-link" href="/">home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/about">about</a></li>
                        <li class="nav-item"><a class="nav-link" href="/photos">photos</a></li>
                        <li class="nav-item"><a class="nav-link" href="/hello">hello</a></li>
                        <li class="nav-item"><a class="nav-link" href="/register">contact</a></li>
                    </ul>
                    <div class="right">
                    <!-- Add font awesome icons -->
                        <a href="https://twitter.com/sagerecruiting?lang=en" class="fab fa-twitter-square fa-2x"></a>
                        <a href="https://www.linkedin.com/in/ashleyalfred/" class="fab fa-linkedin fa-2x"></a>
                    </div>
            </nav>

            {% block body %}
            {% endblock %}

            <!-- JQuery -->
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <!-- Bootstrap tooltips -->
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
            <!-- Bootstrap core JavaScript -->
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>

            {% block afterbootstrap %}
            {% endblock %}
        </div>
    </body>
</html>


