{% extends "layout.html" %}

{% block customcss %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" media="screen">
<style>
#demo {
  height:100%;
  position:relative;
  overflow:hidden;
}
.green {
  background-color:#6fb936;
}
.thumb {
  margin-bottom: 30px;
}
.page-top {
  margin-top:85px;
}
img.zoom {
  width: 100%;
  height: 200px;
  border-radius:5px;
  object-fit:cover;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
}
.transition {
  -webkit-transform: scale(1.2); 
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.modal-header {
  border-bottom: none;
}
.modal-title {
  color:#000;
}
.modal-footer{
  display:none;  
}
</style>
{% endblock %}

{% block body %}
 <!-- Page Content -->
 <div class="container page-top">
  <div class="row">
    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
      <a href="/static/images/full/artsywed1.jpg" data-fancybox class="fancybox" rel="ligthbox">
        <img src="/static/images/thumbs/artsywed1.jpg" class="zoom img-fluid " alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
      <a href="/static/images/full/artsywed2.jpg" data-fancybox class="fancybox" rel="ligthbox">
        <img src="/static/images/thumbs/artsywed2.jpg" class="zoom img-fluid " alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
      <a href="/static/images/full/artsywed5.jpg" data-fancybox class="fancybox" rel="ligthbox">
        <img src="/static/images/thumbs/artsywed5.jpg" class="zoom img-fluid " alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
      <a href="/static/images/full/artsywed7.jpg" data-fancybox class="fancybox" rel="ligthbox">
        <img src="/static/images/thumbs/artsywed7.jpg" class="zoom img-fluid " alt="">
      </a>
    </div>
      <div class="col-lg-3 col-md-4 col-sm-6 thumb">
          <a href="/static/images/full/tacome.jpg" data-fancybox class="fancybox" rel="ligthbox">
            <img src="/static/images/thumbs/tacome.jpg" class="zoom img-fluid " alt="">
          </a>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 thumb">
        <a href="/static/images/full/Luna.jpg" data-fancybox class="fancybox" rel="ligthbox">
          <img src="/static/images/thumbs/Luna.jpg" class="zoom img-fluid " alt="">
        </a>
      </div>
      
      <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a href="/static/images/full/lake.jpg" data-fancybox class="fancybox" rel="ligthbox">
          <img src="/static/images/thumbs/lake.jpg" class="zoom img-fluid " alt="">
        </a>
      </div>
      
      <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a href="/static/images/full/house.jpg" data-fancybox class="fancybox" rel="ligthbox">
          <img src="/static/images/thumbs/house.jpg" class="zoom img-fluid " alt="">
        </a>
      </div>

      <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a href="/static/images/full/wed1.jpg" data-fancybox class="fancybox" rel="ligthbox">
          <img src="/static/images/thumbs/wed1.jpg" class="zoom img-fluid " alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a href="/static/images/full/wed2.jpg" data-fancybox class="fancybox" rel="ligthbox">
          <img src="/static/images/thumbs/wed2.jpg" class="zoom img-fluid " alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a href="/static/images/full/wed3.jpg" data-fancybox class="fancybox" rel="ligthbox">
          <img src="/static/images/thumbs/wed3.jpg" class="zoom img-fluid " alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a href="/static/images/full/artsywed4.jpg" data-fancybox class="fancybox" rel="ligthbox">
          <img src="/static/images/thumbs/artsywed4.jpg" class="zoom img-fluid " alt="">
        </a>
      </div>
      
       <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a href="/static/images/full/MarkMe.jpg" data-fancybox class="fancybox" rel="ligthbox">
          <img src="/static/images/thumbs/MarkMe.jpg" class="zoom img-fluid " alt="">
        </a>
      </div>
      
       <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a href="/static/images/full/Paris.jpg" data-fancybox class="fancybox" rel="ligthbox">
          <img src="/static/images/thumbs/Paris.jpg" class="zoom img-fluid " alt="">
        </a>
      </div>
      
       <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a href="/static/images/full/japan.jpg" data-fancybox class="fancybox" rel="ligthbox">
          <img src="/static/images/thumbs/japan.jpg" class="zoom img-fluid " alt="">
        </a>
      </div>
      
       <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a href="/static/images/full/deerandme.jpg" data-fancybox class="fancybox" rel="ligthbox">
          <img src="/static/images/thumbs/deerandme.jpg" class="zoom img-fluid " alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a href="/static/images/full/artsywed6.jpg" data-fancybox class="fancybox" rel="ligthbox">
          <img src="/static/images/thumbs/artsywed6.jpg" class="zoom img-fluid " alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a href="/static/images/full/sis.jpg" data-fancybox class="fancybox" rel="ligthbox">
          <img src="/static/images/thumbs/sis.jpg" class="zoom img-fluid " alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a href="/static/images/full/MarkStacey.jpg" data-fancybox class="fancybox" rel="ligthbox">
          <img src="/static/images/thumbs/MarkStacey.jpg" class="zoom img-fluid " alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a href="/static/images/full/ReganMe.jpg" data-fancybox class="fancybox" rel="ligthbox">
          <img src="/static/images/thumbs/ReganMe.jpg" class="zoom img-fluid " alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a href="/static/images/full/kiss.jpg" data-fancybox class="fancybox" rel="ligthbox">
          <img src="/static/images/thumbs/kiss.jpg" class="zoom img-fluid " alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a href="/static/images/full/Mark.jpg" data-fancybox class="fancybox" rel="ligthbox">
          <img src="/static/images/thumbs/Mark.jpg" class="zoom img-fluid " alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a href="/static/images/full/puppies.jpg" data-fancybox class="fancybox" rel="ligthbox">
          <img src="/static/images/thumbs/puppies.jpg" class="zoom img-fluid " alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a href="/static/images/full/momme.jpg" data-fancybox class="fancybox" rel="ligthbox">
          <img src="/static/images/thumbs/momme.jpg" class="zoom img-fluid " alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a href="/static/images/full/charlieme.jpg" data-fancybox class="fancybox" rel="ligthbox">
          <img src="/static/images/thumbs/charlieme.jpg" class="zoom img-fluid " alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a href="/static/images/full/travelme" data-fancybox class="fancybox" rel="ligthbox">
          <img src="/static/images/thumbs/travelme.jpg" class="zoom img-fluid " alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a href="/static/images/full/allyme.jpg" data-fancybox class="fancybox" rel="ligthbox">
          <img src="/static/images/thumbs/allyme.jpg" class="zoom img-fluid " alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a href="/static/images/full/fangme.jpg" data-fancybox class="fancybox" rel="ligthbox">
          <img src="/static/images/thumbs/fangme.jpg" class="zoom img-fluid " alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a href="/static/images/full/mark3.jpg" data-fancybox class="fancybox" rel="ligthbox">
          <img src="/static/images/thumbs/mark3.jpg" class="zoom img-fluid " alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a href="/static/images/full/lake2.jpg" data-fancybox class="fancybox" rel="ligthbox">
          <img src="/static/images/thumbs/lake2.jpg" class="zoom img-fluid " alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a href="/static/images/full/markme2.jpg" data-fancybox class="fancybox" rel="ligthbox">
          <img src="/static/images/thumbs/markme2.jpg" class="zoom img-fluid " alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a href="/static/images/full/surfer.jpg" data-fancybox class="fancybox" rel="ligthbox">
          <img src="/static/images/thumbs/surfer.jpg" class="zoom img-fluid " alt="">
        </a>
      </div>
 </div>
{% endblock %}

{% block afterbootstrap %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>

<script type="">
$(document).ready(() => {
  $(".zoom").hover(() => {
    $(this).addClass('transition');
	}, () => {    
    $(this).removeClass('transition');
	});
});
</script>
{% endblock %}
